.Banner {
    width: 100%;
    overflow: hidden;
    
    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    &__image {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 15px;
        cursor: pointer;
    }
}